@import url('https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2');

.containerWrapper {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    .header {
        .heading {
            font-size: 20px;
        }
    }
    .container {
        display: flex;
        flex-wrap: wrap;

        .menu {
            flex: 20%;
        }
        .content {
            flex: 80%;

        }
    }
    .footer {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        .footerText {
            font-size: 18px;
            font-weight: 200; 
        }
    }
}

@media (max-width: 700px) {
    .container{   
      flex-direction: column;
    }
  }